body{
  background: #f4f4f4;
}

body, p, button{
  font-family: proxima-nova, Sans-Serif;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  font-family: myriad-pro, Sans-Serif;
}
h2 {
  margin-top: 10px;
}

pre{
  background: transparent;
  border: none;
  padding: 0;
  overflow: auto;
}
code, pre{
  border-radius: 2px;
}
pre code{
  padding: 8px 15px;
}

p, ul, li{
  font-size: 16px;
  line-height: 1.6;
}

#header{
  background: #fff;
  border-bottom: 2px solid #e9e9e9;
  padding: 30px 0;
}
#header h1 {
  margin: 0;
}
#header h2 {
  font-weight: normal;
  font-size: 22px;
  color: #a2a2a2;
  line-height: 1.0;
  height: 25px;
}
#header .logo{
  position: absolute;
  left: -70px;
  top: 5px;
}
#header .nav{
  margin-top: 19px;
  position: relative;
}
#header .nav li{
  float: left;
  margin-left: 10px;
}
#header .nav li iframe{
  margin-top: 3px;
}
#header .nav li.twitter{
  position: absolute;
  overflow: visible;
  width: 76px;
  right: -100px;
  top: 10px;
}
#header .nav li a{
  color: #909090;
  font-weight: bold;
  font-size: 16px;
}
#header .nav li a:hover{
  color: #666;
  background: none;
}

#footer{
  border-top: 2px solid #e9e9e9;
  padding: 30px 0;
}
#footer .link{
  color: #909090;
  text-decoration: none;
  display: block;
  float: left;
  height: 42px;
  line-height: 42px;
}
#footer .link-right{
  float: right;
  text-align: right;
}
#footer .link:hover{
  color: #666;
}
#footer .logo{
  width: 32px;
  display: block;
  margin: 0 auto;
  opacity: .7;
}
#footer .logo:hover{
  opacity: .9;
}

.container{
  max-width: 800px;
  position: relative;
}
.container section {
  margin: 60px 0 70px 0;
}
.container section h2 {
  margin-top: 0;
  line-height: .8;
}
.container section h2, .container section p, .container section ul {
  margin-bottom: 20px;
}

.container section .btn {
  border-radius: 2px;
  text-shadow: none;
  width: 100%;
}

.example-heading{
  position: relative;
  text-align: center;
  font-size: 16px !important;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #bbbbbb;
}
.example-heading span{
  display: inline-block;
  position: relative;
  background: #f4f4f4;
  padding: 0 20px;
}
.example-heading:before{
  content: "";
  display: block;
  width: 100%; height: 2px;
  top: 8px;
  position: absolute;
  background: #e9e9e9;
}


/* tips */
.popover {
  border-radius: 2px;
  border: none;
  width: 276px;
}
.popover p{
  font-size: 14px;
}

/* Tour specific */

/* Tour 1 */
#tour1 .example-code pre{
  height: 379px;
}
#tour1 .tour-block {
  width: 47%;
  float: left;
  background: #e3e3e3;
  color: #a4a4a4;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  padding: 60px 0;
}
#tour1 .tour-block.last {
  float: right;
}

/* Tour 2 */
#tour2 .example-code pre{
  height: 480px;
}
#tour2 .kittens img {
  cursor: pointer;
}
#tour2 .kittens.disabled img {
  opacity: .3;
  cursor: default;
}
#tour2 .kittens.has-selection img {
  opacity: .3;
}
#tour2 .kittens.has-selection img.selected {
  opacity: initial;
}

#tour2 img.tour-block {
  display: block;
  height: auto;
  width: 47%;
  float: left;
}
#tour2 img.tour-block.last {
  float: right;
}



@media screen and (max-width: 979px) {
  #header .nav li.twitter{
    right: 0px;
    top: 30px;
  }
}

/*
SmallTablet:
Bootstrap switches to stacked columns below this breakpoint.
*/
@media (max-width: 767px) {
  pre{
    clear: both;
    margin-top: 20px;
  }

  #header .logo{
    display: none;
  }

  #header, #footer{
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
